.additional-goods {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 91px;
  }

  &__title {
    margin: 0;
    margin-bottom: 36px;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    color: @basic_black;

    @media (min-width: @tablet-width) {
      margin-bottom: 80px;
      font-size: 36px;
      line-height: 36px;
    }

    @media (min-width: @desktop-width)  {
      margin-bottom: 76px;
    }
  }

  &__wtapper {
    display: flex;
    flex-direction: column;

    @media (min-width: @desktop-width) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-bottom: 35px;
    list-style-type: none;

    @media (min-width: @tablet-width) {
      padding-bottom: 70px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 0;

    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 13px 0 19px;
    border-top: 1px solid @special_grey;

    @media (min-width: @tablet-width) {
      max-width: 708px;
      flex-wrap: wrap;
      padding: 26px 0 28px;
    }

    @media (min-width: @desktop-width) {
      flex-direction: row;
      padding: 25px 0 17px;
      justify-content: stretch;
      min-width: 890px;
      align-items: center;
    }
  }

  &__item:last-child {
    border-bottom: 1px solid @special_grey;
  }

  &__decoration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: @tablet-width) {
      flex-direction: row;
    }
  }

  &__name {
    margin-bottom: 13px;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 16px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }

    color: @special_dark-grey-2;
    text-transform: uppercase;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
      margin-right: 40px;
    }
  }

  &__description {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 14px;

    @media (min-width: @tablet-width) {
      margin-right: 49px;
      font-size: 16px;
      line-height: 20px;
    }
    color: @special_dark-grey;
  }

  &__description:last-child {
    margin-right: 0;
  }

  &__special {
    display: flex;
    align-items: flex-end;
    padding: 59px 61px 43px 58px;
    justify-content: center;
    width: 280px;
    height: 290px;
    background-color: @basic_green;
    background-image: url("../../img/gift-mobile.png");
    background-size: 280px 290px;
    background-repeat: no-repeat;
    box-sizing: border-box;

    @media (min-width: @tablet-width) {
      justify-content: flex-end;
      padding: 71px 125px 69px 77px;
      width: 707px;
      height: 200px;
      background-image: url("../../img/gift-tablet.png");
      background-size: 707px 200px;
    }

    @media (min-width: @desktop-width) {
      justify-content: flex-end;
      padding: 56px 42px 43px;
      width: 245px;
      height: 288px;
      background-image: url("../../img/gift-desktop.png");
      background-size: 245px 288px;
    }
  }

  &__special-description {
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 161px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: @basic_white;
  }

  &__special-description::before {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../../img/icon-gift-mobile.svg");
    bottom: 100px;
    left: 40px;

    @media (min-width: @tablet-width) {
      position: absolute;
      content: "";
      width: 80px;
      height: 83px;
      background-image: url("../../img/icon_gift.svg");
      bottom: -10px;
      left: -264px;
    }
  }
}
