.additional-goods {
  margin: 0;
  padding: 25px 20px 35px;
}


.additional-goods__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.additional-goods__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-goods__name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.additional-goods__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-goods__special {
  display: block;
  background-color: #68b738d9;
  background-image: url("../../img/special-offer-background.png");
  background-repeat: no-repeat;
}

.additional-goods__special-description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
