.example {
  margin: 0;
  padding: 25px 20px 40px;
  background-color: @basic_grey-2;

  &__title {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    line-height: 40px;
    color: @basic_black;
  }

  &__description {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: @special_dark-grey;
  }

  &__list {
    padding: 0;
    list-style-type: none;
  }

  &__item-number {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: @basic_black;
    text-transform: uppercase;
  }

  &__item-description {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: @special_dark-grey;
  }

  &__text {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: @basic_black;
    text-transform: uppercase;
  }
}
