.form {
  margin: 0;
  padding: 27px 20px 32px;
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color:#000000;
}

.nutrition__description {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color:#000000;
  text-transform: uppercase;
}


.form-label, .field {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color:#444444;
  text-transform: uppercase;
}

.nutrition__solution__list {
  padding: 0;
  list-style-type: none;
}

.nutrition__solution__item {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color:#444444;
  text-transform: uppercase;
}

.nutrition__titles {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color:#000000;
}

.nutrition__additional__list {
padding: 0;
list-style-type: none;
}

.nutrition__additional__item {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color:#444444;
  text-transform: uppercase;
}

.nutrition__legend {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color:#000000;
}
