.nutrition {
  margin: 0;
  padding: 27px 20px 32px;

  &__title {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    color: @basic_black;
  }
}

.form {
  &__description {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: @basic_black;
    text-transform: uppercase;
  }

  &__label {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: @special_dark-grey;
    text-transform: uppercase;
  }

  &__field {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: @special_dark-grey;
    text-transform: uppercase;
  }

  &-list {
    padding: 0;
    list-style-type: none;
  }

  &-item {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: @special_dark-grey;
    text-transform: uppercase;
  }

  &__title {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: @basic_black;
  }

  &__legend {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: @basic_black;
  }
}
