.goods {
  margin: 0;
  padding: 27px 20px 0;

  &__title {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: @basic_black;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__name {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: @special_dark-grey-2;
    text-transform: uppercase;
  }

  &__text {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: @special_dark-grey;
  }
}
