.hero {
  width: 100%;
  min-height: 480px;
  position: relative;
  color: @basic_white;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% - 179px);
    background: linear-gradient(
        rgba(104, 183, 56, 0.9),
        rgba(104, 183, 56, 0.9)
      ),
      url("../../img/hero-background-mobile.png") no-repeat;
    background-size: 320px 302px;
    background-position: top;
    object-fit: cover;
  }

  @media (min-width: @tablet-width) {
    min-height: 870px;
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    padding-top: 60px;
    align-items: flex-start;
    color: @basic_black;

    &::before {
      background-color: @basic_white;
      background-image: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 122px;
    padding-top: 0;
    min-height: 534px;

    &::before {
      position: absolute;
      content: "";
      width: 50%;
      height: calc(100% + 160px);
      background: linear-gradient(
        rgba(104, 183, 56, 0.9),
        rgba(104, 183, 56, 0.9)
      );
      background-position: left;
      top: -120px;
      right: 0;
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: "";
      width: 50%;
      height: calc(100% + 160px);
      background: url("../../img/hero-background-desktop.png") no-repeat;
      background-position: right;
      top: -120px;
      right: 0;
      z-index: -2;
    }
  }

  &__wrapper {
    width: 280px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    line-height: 14px;

    @media (min-width: @tablet-width) {
      align-items: flex-start;
      margin: 0 auto;
      width: 709px;
      padding: 0;
      padding-left: 180px;
    }

    @media (min-width: @desktop-width) {
      width: 1220px;
      padding-left: 160px;
    }
  }

  &__title {
    max-width: 250px;
    margin-top: 26px;
    margin-bottom: 25px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    text-align: center;
    z-index: 1;

    @media (min-width: @tablet-width) {
      max-width: 416px;
      margin: 0;
      margin-bottom: 40px;
      text-align: start;
      font-size: 60px;
      line-height: 60px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 104px;
      z-index: 1;
    }
  }

  &__description {
    max-width: 198px;
    margin: 0;
    margin-bottom: 29px;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;

    @media (min-width: @tablet-width) {
      max-width: 283px;
      margin-bottom: 50px;
      text-align: start;
      font-family: "Oswald", sans-serif;
      font-size: 20px;
      line-height: 20px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 52px;
      z-index: 1;
    }
  }

  &__image {
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    width: 280px;
    height: 270px;
    text-align: center;
    z-index: 1;

    @media (min-width: @tablet-width) {
      position: absolute;
      margin-bottom: 0;
      width: 709px;
      height: 609px;
      z-index: 0;
      top: 201px;
      right: 90px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
      left: 527px;
      top: 23px;
      width: 552px;
      height: 499px;
    }
  }

  &__button {
    @media (min-width: @tablet-width) {
      max-width: 280px;
      z-index: 1;
      text-wrap: wrap;
    }
  }
}
