.hero {
  width: 100%;
  min-height: 480px;
  position: relative;
  color: @basic_white;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% - 179px);
    background: linear-gradient(
        rgba(104, 183, 56, 0.9),
        rgba(104, 183, 56, 0.9)
      ),
      url("../img/hero-background-mobile.png") no-repeat;
    background-size: 320px 302px;
    background-position: top;
    object-fit: cover;
    box-sizing: border-box;
  }

  @media (min-width: @tablet-width) {
    min-height: 811px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    padding-top: 60px;
    color: @basic_black;

    &::before {
      position: static;
      content: none;
      background-color: @basic_white;
      background-image: none;
      width: unset;
      height: unset;
      background-position: unset;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 122px;
    padding-top: 0;
    min-height: 534px;

    &::before {
      position: absolute;
      content: "";
      width: 50%;
      height: calc(100% + 160px);
      background: linear-gradient(
        rgba(104, 183, 56, 0.9),
        rgba(104, 183, 56, 0.9)
      );
      background-position: left;
      top: -120px;
      right: 0;
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: "";
      width: 50%;
      height: calc(100% + 160px);
      background: url("../img/hero-background.png") no-repeat;
      background-position: right;
      top: -120px;
      right: 0;
      z-index: -2;
    }
  }
}

.hero__wrapper {
  width: 320px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    margin: 0 auto;
    width: 768px;
    padding: 0;
    padding-left: 120px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding-left: 190px;
  }
}

.hero__title {
  width: 250px;
  margin-top: 26px;
  margin-bottom: 25px;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 416px;
    margin: 0;
    margin-bottom: 40px;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 104px;
    z-index: 1;
  }
}

.hero__description {
  width: 198px;
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 283px;
    margin-bottom: 50px;
    text-align: start;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
    z-index: 1;
  }
}

.hero__image {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  width: 280px;
  height: 270px;
  text-align: center;
  z-index: 1;

  @media (min-width: @tablet-width) {
    position: absolute;
    margin-bottom: 0;
    width: 709px;
    height: 609px;
    z-index: 0;
    top: 201px;
    right: 29px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    left: 557px;
    top: 23px;
    width: 552px;
    height: 499px;
  }
}

.hero__button {
  @media (min-width: @tablet-width) {
    width: 244px;
    z-index: 1;
    text-wrap: wrap;
    box-sizing: border-box;
  }
}
