.hiro {
  width: 100%;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 27px 20px 0;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    line-height: 14px;

    @media (min-width: @tablet-width) {
      min-height: 875px;
      background-image: none;
      font-size: 20px;
      line-height: 20px;
      padding: 0;
      padding-top: 65px;
      width: 708px;
      align-items: flex-start;
      color: @basic_black;
      box-sizing: border-box;
    }

    color: @basic_white;

    @media (min-width: @desktop-width) {
      padding: 29px 80px 52px;
      min-height: 580px;
      box-sizing: unset;
      width: 1220px;
    }
  }

  &__wrapper::before {
    @media (max-width: @mobile-width) {
      position: absolute;
      content: "";
      width: 320px;
      height: 270px;
      top: 0;
      right: 0;
      z-index: 0;
      background: linear-gradient(
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../../img/hiro-background-mobile.jpg") no-repeat;
      background-size: 100% cover;
      background-position: center;
    }

    @media (min-width: @desktop-width) {
      position: absolute;
      content: "";
      width: 720px;
      height: 694px;
      top: -160px;
      right: 80px;
      z-index: 0;
      background: linear-gradient(
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../../img/hiro-background-desktop.jpg") no-repeat;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    text-align: center;
    z-index: 1;

    @media (min-width: @tablet-width) {
      margin-bottom: 40px;
      text-align: start;
      font-size: 60px;
      line-height: 60px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 81px;
      z-index: 1;
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 29px;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;

    @media (min-width: @tablet-width) {
      margin-bottom: 50px;
      text-align: start;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 52px;
      z-index: 1;
    }
  }

  &__image {
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    width: 280px;
    height: 270px;
    text-align: center;
    z-index: 1;

    @media (min-width: @tablet-width) {
      position: absolute;
      margin-bottom: 0;
      width: 709px;
      height: 609px;
      z-index: 0;
      bottom: 0;
      right: 70px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
      right: 410px;
      bottom: 129px;
      width: 552px;
      height: 499px;
    }
  }

  &__button {
    @media (min-width: @tablet-width) {
      z-index: 1;
    }
  }
}
