
.hiro__wrapper {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  background-color: #68B738D9;
  color:#FFFFFF;
  background-image: url("../../img/hiro-background.png");
  background-repeat: no-repeat;
}

.hiro__title {
  font-size: 36px;
  line-height: 36px;
}

.hiro__description {
  text-transform: uppercase;
}
