.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 280px;
  margin: 0 auto;
  padding: 13px 20px 14px;

  @media (min-width: @tablet-width) {
    padding: 25px 34px 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-top: 55px;
    margin-bottom: 0;
  }

  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    width: 1220px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
  }

  &__logo {
    text-decoration: none;

    @media (min-width: @tablet-width) {
      margin-right: 13px;
    }
  }

  &__logo-image {
    width: 33px;
    height: 38px;

    @media (min-width: @tablet-width) {
      width: 60px;
      height: 50px;
    }

    @media (min-width: @desktop-width) {
      width: 70px;
      height: 59px;
    }
  }

  &__logo-image:hover,
  &__logo-image:focus {
    opacity: 0.7;
  }

  &__logo-image:active {
    opacity: 0.5;
  }
}

.logo-cat-energy {
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin-right: auto;
  }
}

.logo-cat-energy-image {
  width: 101px;
  height: 18px;

  @media (min-width: @desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.logo-cat-energy-image:hover,
.logo-cat-energy-image:focus {
  opacity: 0.7;
}

.logo-cat-energy-image:active {
  opacity: 0.5;
}

.main-navigation {
  display: flex;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: 14px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 16px;
  }

  &__toggle {
    position: absolute;
    padding: 0;
    top: -33px;
    left: 255px;
    z-index: 2;
    display: block;
    width: 24px;
    height: 24px;
    background-color: inherit;
    cursor: pointer;
    border: none;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (max-width: @mobile-width) {
      align-self: center;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: -20px;
      width: 320px;
      z-index: 10;
      background-color: @basic_white;
    }

    @media (min-width: @tablet-width) {
      flex-direction: row;
      justify-content: space-between;
      width: 436px;
    }

    @media (min-width: @desktop-width) {
      width: 475px;
    }
  }

  &__item {
    @media (max-width: @mobile-width) {
      padding: 22px 75px 24px;
      min-width: 170px;
      text-align: center;
      border-top: 1px solid @basic_grey-4;
    }
  }

  &__item--current &__link {
    @media (min-width: @tablet-width) {
      border-bottom: 2px solid @basic_green;
    }
  }

  &__item--current &__link--index {
    @media (min-width: @desktop-width) {
      border-bottom: 2px solid @basic_white;
    }
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: @basic_black;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    z-index: 2;

    @media (min-width: @tablet-width) and (max-width: @desktop-width) {
      padding: 0;
      font-size: 18px;
      line-height: 24px;
    }

    @media (min-width: @desktop-width) {
      padding: 0;
    }
  }

  &__link:hover {
    color: fade(@basic_black, 60%);
  }

  &__link:active {
    color: fade(@basic_black, 30%);
  }

  &__link--index {
    @media (min-width: @desktop-width) {
      color: @basic_white;
    }
  }

  &__link--index:hover {
    @media (min-width: @desktop-width) {
      color: fade(@basic_white, 60%);
    }
  }

  &__link--index:active {
    @media (min-width: @desktop-width) {
      color: fade(@basic_white, 30%);
    }
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: @basic_black;
  box-shadow: 0 8px 0 0 @basic_black, 0 16px 0 0 @basic_black;
}

.main-navigation--closed .main-navigation__toggle:active::before {
  background-color: fade(@basic_black, 30%);
  box-shadow: 0 8px 0 0 fade(@basic_black, 30%),
    0 16px 0 0 fade(@basic_black, 30%);
}

@media (max-width: @mobile-width) {
  .main-navigation--closed .main-navigation__item {
    display: none;
  }
}

.main-navigation--opened .main-navigation__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 26px;
    height: 1.5px;
    background-color: @basic_black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(@basic_black, 30%);
  }
}

.main-navigation--nojs .main-navigation__list {
  @media (max-width: @mobile-width) {
    position: static;
    margin: 0 -20px;
  }
}

.main-navigation--nojs .main-navigation__toggle {
  @media (max-width: @mobile-width) {
    display: none;
  }
}
