.main-header {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color:#000000;
}

.main-navigation__item__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
