.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 40px 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__social-media-list {
    padding: 0;
    list-style-type: none;
  }

  &__copyright {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: @special_dark-grey;
    text-decoration: none;
  }
}
