.offers {
  margin: 0 auto;
  padding: 20px;
  max-width: 280px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin-bottom: 35px;
    max-width: 708px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
    padding: 0 110px;
    max-width: 1200px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;

    @media (min-width: @desktop-width) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: @basic_grey;
    box-sizing: border-box;

    @media (min-width: @tablet-width) and (max-width: @desktop-width) {
      margin-bottom: 10px;
      padding: 77px 29px 57px 53px;
    }

    @media (min-width: @desktop-width) {
      padding: 77px 61px 55px 52px;
      max-width: 570px;

    }
  }

  &__title {
    position: relative;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 27px;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 37px;
    font-weight: normal;

    @media (min-width: @tablet-width) {
      margin: 0;
      align-self: flex-start;
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 24px;
    }

    color: @basic_black;
    text-transform: uppercase;

    @media (min-width: @desktop-width) {
      margin-bottom: 73px;
    }

    &--slim {
      padding-left: 70px;

      @media (min-width: @tablet-width) and (max-width: 1439px) {
        padding-left: 0;
        padding-right: 428px;
      }

      @media (min-width: @desktop-width) {
        padding-left: 162px;
      }
    }

    @media (max-width: @mobile-width) {
      &--slim::before {
        position: absolute;
        content: "";
        width: 50px;
        height: 53px;
        left: 0;
        top: -10px;
        background-image: url("../../img/sprite.svg#image-slim-mobile");
        background-repeat: no-repeat;
      }
    }

    @media (min-width: @tablet-width) and (max-width: @desktop-width) {
      &--slim::before {
        position: absolute;
        content: "";
        width: 200px;
        height: 211px;
        right: 1px;
        top: 4px;
        background-image: url("../../img/sprite.svg#image-slim-tablet");
        background-repeat: no-repeat;
      }
    }

    @media (min-width: @desktop-width) {
      &--slim::before {
        position: absolute;
        content: "";
        width: 100px;
        height: 106px;
        left: 0;
        top: -40px;
        background-image: url("../../img/sprite.svg#image-slim-desktop");
        background-repeat: no-repeat;
      }
    }

    &--pro {
      padding-left: 70px;

      @media (min-width: @tablet-width) and (max-width: @desktop-width) {
        padding-left: 0;
        padding-right: 420px;
      }

      @media (min-width: @desktop-width) {
        padding-left: 181px;
      }
    }

    @media (max-width: @mobile-width) {
      &--pro::before {
        position: absolute;
        content: "";
        width: 67px;
        height: 50px;
        left: -8px;
        top: -8px;
        background-image: url("../../img/sprite.svg#image-pro-mobile");
        background-repeat: no-repeat;
      }
    }

    @media (min-width: @tablet-width) and (max-width: @desktop-width) {
      &--pro::before {
        position: absolute;
        content: "";
        width: 268px;
        height: 200px;
        right: -1px;
        top: 14px;
        background-image: url("../../img/sprite.svg#image-pro-tablet");
        background-repeat: no-repeat;
      }
    }

    @media (min-width: @desktop-width) {
      &--pro::before {
        position: absolute;
        content: "";
        width: 134px;
        height: 100px;
        left: 0;
        top: -30px;
        background-image: url("../../img/sprite.svg#image-pro-desktop");
        background-repeat: no-repeat;
      }
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 21px;
    padding: 0;
    padding-bottom: 21px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px solid @special_grey-3;

    @media (min-width: @tablet-width) {
      max-width: 340px;
      margin-bottom: 52px;
      padding-bottom: 0;
      font-size: 16px;
      line-height: 24px;
      border-bottom: none;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 23px;
      max-width: 457px;
    }

    color: @basic_black;
  }

  &__link {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    padding-right: 47px;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 16px;
    max-width: 139px;

    @media (min-width: @tablet-width) {
      max-width: 165px;
      padding-right: 57px;
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: @desktop-width) {
      max-width: 168px;
    }

    color: @basic_black;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__link::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 10px;
    right: 0;
    top: 2px;

    @media (min-width: @tablet-width) {
      top: 10px;
    }

    background-image: url("../../img/offers-arrow.svg");
    background-repeat: no-repeat;
  }

  &__link:hover::before {
    background-image: url("../../img/offers-arrow-hover.svg");
    background-repeat: no-repeat;
    right: 0;
    top: 2px;

    @media (min-width: @tablet-width) {
      top: 10px;
    }
  }

  &__link:active {
    opacity: 0.3;
  }

  &__link:active::before {
    background-image: url("../../img/offers-arrow-hover.svg");
    background-repeat: no-repeat;
    right: 0;
    top: 2px;
    opacity: 0.3;

    @media (min-width: @tablet-width) {
      top: 10px;
    }
  }
}
