.offers__wrapper {
  margin: 0;
  padding: 20px;
}

.offers__list {
  padding: 0;
  list-style-type: none;
}

.offers__item {
  background-color: #f2f2f2;
}

.offers__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
}

.offers__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.offers__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
