.offers {
  &__wrapper {
    margin: 0;
    padding: 20px;
  }

  &__list {
    padding: 0;
    list-style-type: none;
  }

  &__item {
    background-color: @basic_grey;
  }

  &__title {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 37px;
    color: @basic_black;
    text-transform: uppercase;
  }

  &__description {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: @basic_black;
  }

  &__link {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: @basic_black;
    text-transform: uppercase;
    text-decoration: none;
  }
}
