.show-more {
  margin: 0;
  padding: 25px 20px;

  &__title {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: @basic_black-2;
    text-transform: uppercase;
  }

  &__description {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: @special_dark-grey;
  }

  &__button-all {
    display: inline-block;
    background-color: @basic_grey;
    border: none;
  }

  &__text-all {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: @special_dark-grey4;
    text-transform: uppercase;
  }
}
