.page {
  height: 100%;

  &__body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    background-color: @basic_white;
  }
}

.main-wrapper {
  flex-grow: 1;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
